<?xml version="1.0" encoding="UTF-8"?>
<launch>

   <!-- global params-->
    <arg name="robot" default="robot_006"/>
  
    <!-- URDF description -->
    
        <param 
        name="robot_description" 
        command="$(find xacro)/xacro '$(find robot_006)/robot_006_description/urdf/robot_006.xacro'"/>

    <!-- Combine joint values -->
    <node 
        name="robot_state_publisher" 
        pkg="robot_state_publisher" 
        type="robot_state_publisher"/>

   <!-- TF stuff -->
        <!-- send fake joint values -->
    <node 
        name="joint_state_publisher" 
        pkg="joint_state_publisher" 
        type="joint_state_publisher">
        <param 
        name="use_gui" 
        value="True"/>
    </node>

    <include file="$(find robot_006)/robot_006_gazebo/launch/robot_world.launch"/>

      
    
        <!-- fixed odom -->
    <node pkg="tf" 
          type="static_transform_publisher" 
          name="static_odom_broadcaster"
          args="0 0 0 0 0 0 map odom 100"/>    
    
    <!-- run gazebo and spawn mybot -->
    
    <include file="$(find robot_006)/robot_006_config/launch/robot_006_software.launch"/>
    
     <!-- visualization -->      
    <node name="rviz" pkg="rviz" type="rviz" />      
</launch>